{% extends 'layout.twig' %}

{% import './components/players.twig' as Players %}

{% block content %}
  <div class="players">
    <section id="stage"
      style=" background-image: url(/images/players.jpg);"></section>

    <section id="list">
      <div class="lock">
        {{ Players.Shane() }}
        {{ Players.Ford() }}
        {{ Players.Jacobson() }}
        {{ Players.Josh() }}
        {{ Players.Dorsey() }}
        {{ Players.Zeller() }}
        {{ Players.Biggie() }}
        {{ Players.Eder() }}
        {{ Players.Kyle() }}
        {{ Players.Toby() }}
        {{ Players.Bob() }}
        {{ Players.Drew() }}
      </div>
    </section>
  </div>

  <link rel="stylesheet" type="text/css" href="players.css" />
{% endblock %}
